.container {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.container .header {
  background-color: #000;
  margin: 0;
  padding: 1rem 2rem;
  border-radius: 1rem 1rem 0 0;
}
.container .header h1 {
  margin: 0;
}
.container .module_container {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.25);
}
